@mixin a4 {
  margin: 0;
  padding: 0;

  @media screen {
    width: 21cm;
    height: 29.7cm;
  }

  @media print {
    width: 100vw;
    height: 100vh;
  }

  box-sizing: border-box;
  overflow: hidden;
}