@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import './a4.scss';

h2 {
  margin: 0 0;
}

.Body {
  position: relative;
  background: white;
  @include a4;
  font-family: sans-serif;
  $head-bg: #333;

  // General rules
  a {
    color: #559;
    text-decoration: none;
    font-style: unset;
  }

  p {
    margin: 0;
    margin-bottom: .5em;
  }

  // Leftover rules for sections
  .header {
    padding: 5px 30px 10px 30px;
    background: $head-bg;
    color: white;
    text-align: right;
    address {
      display: inline-block;
      font-style: normal;
    }
    address:not(:last-of-type) { padding-right: 10px; }
    address:not(:first-of-type) { padding-left: 10px; }
    a { color: inherit; }
    h1 {
      float: left;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      margin-left: 5px;
    }
    aside {
      text-align: left;
      position: absolute;
      top: 10px;
      left: 15px;
      width: 50%;
      dl {
        margin: 0px;
        span {
          display: table-row;
          
          dt, dd { display: table-cell; }
          dt {
            font-weight: 700;
            font-style: italic;
            padding-right: 15px;
          }
        }
      }
    }
  }
  .education {
    padding-right: 0;
    & > main {
      & > article {
        & > header {
          border-top-left-radius: 1000px;
          border-bottom-left-radius: 1000px;
          background-color: #d8d8f4;
          h3 {
            display: inline-block;
            grid-area: name;
            padding: 0px 1em 3px 0.5em;
            margin: 0;
          }
          .duration {
            grid-area: duration;
          }
          .overall {
            grid-area: overall;
            padding-right: 1em;
          }
          .Institute {
            grid-area: institute;
          }
        }
        & > main {
          // padding-bottom: 5px;
          & > p:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .this-cv {
    padding: 5px 15px;
    background-color: $head-bg !important;
    color: white;
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: inherit;
    box-sizing: border-box;
    a {
      color: #68f;
    }
  }
}