.Dictionary {
    margin-top: 0px;
    margin-bottom: 5px;
    &>div {
        &>dt {
            display: inline;
        }
        &>dd {
            display: inline;
            margin: 0;
            &::before {
                content: ' -- ';
            }
        }
    }
}