.Options {
  box-sizing: border-box;
  @media print {
    display: none;
  }
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  label {
    display: block;
  }
  max-width: calc(100vw - 21cm);
  padding: 5px 10px;
}