.Section {
  display: flex;
  flex-direction: column;
  padding: 4px 20px 4px 10px;
  &:nth-child(2n) {
    background: #eef;
  }
  &.notitle {
    padding-top: 10px;
  }
  & > header {
    flex: 0 0 auto;
    display: flex;
    & > h2 {
      margin-right: 20px;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      break-inside: avoid;
      flex: 0 0 auto
    }
    & > aside { flex: 1 1 auto }
    margin: 0; padding: 0;
  }
  & > main {
    flex: 1 1 auto;
  }
  &:not(.inline) {
    flex-direction: column;
    & > header {
      flex-direction: row;
    }
  }
  &.inline {
    padding-right: 0;
    flex-direction: row;
    & > header {
      flex-direction: column;
    }
  }
}